<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/dailyBook.css">
    <title>Document</title>
</head>
<body>
            <h1>Book of the Day</h1>
            <section>
             <img src="<%= book.image_url %>" alt="<%= book.title %>"  class="daily-book-img" data-id="<%=book.id%>">
            <h3><%=book.title.slice(0,125)%></h3>
             <p><%=book.page_count%></p>
            </section>


            <script>
                document.body.addEventListener("click",(e)=>{
                  if(e.target.classList.contains('daily-book-img')){
                   window.location.href=`/book/${e.target.dataset.id}`;
                  }
                })
            </script>
           
</body>
</html>